# SimplySend Account Configuration
SIMPLYSEND_ACCOUNT_ID=your_account_id_here
SIMPLYSEND_TAPI_KEY=your_transactional_api_key_here
SIMPLYSEND_MAPI_KEY=your_marketing_api_key_here
SIMPLYSEND_WAPI_KEY=your_web_setup_api_key_here

# Custom API Gateway Overrides for Testing (optional & only needed for Simply Send Dev Team)
#SIMPLYSEND_TAPI_URL=https://your-custom-tapi-endpoint
#SIMPLYSEND_MAPI_URL=https://your-custom-mapi-endpoint
#SIMPLYSEND_WAPI_URL=https://your-custom-wapi-endpoint

# Server settings
PORT=3000
